.bike__wrap {
  max-width: 1320px;
  width: calc(100%*1320/1440);
  margin: 0 0 0 auto;
  display: grid;
  grid-template-columns: minmax(auto, 410px) minmax(254px, 610px);
  grid-template-rows: minmax(180px, auto) minmax(112px, auto) 167px minmax(227px, auto);
  column-gap: 10px;
  row-gap: 50px;
  grid-template-areas:
        'title photo'
        'text photo'
        'button photo'
        'name photo';
  justify-content: space-between;
}

/* @media screen and (max-width: 768px){
  .bike__wrap {
    margin: 0 auto;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    row-gap: 40px;
    grid-template-areas:
        'title'
        'photo'
        'text'
        'button';
  }
} */

/* @media screen and (max-width: 780px){
    .bike {
        padding-bottom: 35px;
        row-gap: 20px;
    }
}  */
