.workout {
        max-width: 1440px;
        width: calc(100% * 1200/1440);
        margin: 0 auto;
        padding: 150px 0 120px;
       
}

@media screen and (max-width: 1080px){
        .workout {
                width: calc(100% * 284/320);
                padding-top: 70px;
        }
}

@media screen and (max-width: 640px){
        .workout {
                padding: 50px 0 70px;
        }
}

@media screen and (max-width: 320px){
        .workout {
                width: calc(100% * 284/320);
                padding: 0 0 60px;
        }
}