.bike__fon {
    grid-area: photo;
    height: 100%;
}

@media screen and (max-width: 640px){
    .bike__fon {
        margin-left: auto;
        height: auto;
        width: calc(100%*348/378);
    }
}