.bike__fon {
    grid-area: photo;
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 780px){
    .bike__fon {
        margin-left: 15px;
        width: 100%;
    }
}
