.header {
    max-width: 1200px;
    width: calc(100%*1200/1440 );
    margin: 0 auto 48px;
    padding-top: 28px;
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 320px){
    .header {
        margin-bottom: 70px;
}
}