.highway__text {
    max-width: 460px;
    width: 90%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    opacity: 0.7;
    margin: 0;
    grid-area: subtitle;
}

@media screen and (max-width: 320px){
    .highway__text {
        font-size: 12px;
        line-height: 18px;
    }
  }