.highway__arrows {
    width: 120px;
    display: flex;
    justify-content: space-between;
    grid-area: arrows;
}

@media screen and (max-width: 480px){

    .highway__arrows {
        width: 58px;
        align-items: end;
    }
}