.bicycles__cards {
    margin: 120px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
}

@media screen and (max-width: 640px){
    .bicycles__cards {
        margin-top: 20px;
    }
}