.merks {
    max-width: 1440px;
    width: calc(100% * 1200/1440);
    margin: 120px auto;
    display: flex;
}

.merks .line {
    margin-bottom: 20px;
}

@media screen and (max-width: 640px){
    .merks {
        width: calc(100% * (320 - 18 - 18)/320);
        margin: 0 auto 40px;
        display: block;
    }
}