.merks {
    max-width: 1440px;
    width: calc(100% * 1200/1440);
    margin: 120px auto;
    display: flex;
}

@media screen and (max-width: 480px){
    .merks {
        margin-top: 20px;
        display: block;
    }
}