.bicycles__card-text {
    margin: 22px 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #151515;
}

@media screen and (max-width: 640px) {
  .bicycles__card-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (max-width: 480px) {
  .bicycles__card-text {
    display: none;
  }
}
