/* сброс стилей */
@import url(../vendor/normalize.css);

/* подключение шрифтов */
@import url(../vendor/fonts/fonts.css);

/* общие стили страницы */
@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__links/header__links.css);

/* bike */

/* merks */
@import url(../blocks/merks/merks.css);
@import url(../blocks/merks/__image/merks__image.css);
@import url(../blocks/merks/__quote/merks__quote.css);
@import url(../blocks/merks/__text/merks__text.css);
@import url(../blocks/merks/__athor/merks__athor.css);
@import url(../blocks/merks/__athor-work/merks__athor-work.css);

/* highway */
@import url(../blocks/highway/highway.css);
@import url(../blocks/highway/__title/highway__title.css);
@import url(../blocks/highway/__subtitle/highway__subtitle.css);
@import url(../blocks/highway/__galary/highway__galary.css);
@import url(../blocks/highway/__road/highway__road.css);
@import url(../blocks/highway/__arrows/highway__arrows.css);
@import url(../blocks/highway/__arrow/highway__arrow.css);

/* bicycles */

/* workout */

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__wrap/footer__wrap.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__field-input/footer__field-input.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

.bikes {
    background-color: rgb(21, 80, 3);
    height: 300px;
    margin: 0 auto;
    width: calc(100% * (1320/1440));
        /*   ширина страницы (сейчас 1440px) *  (ширина блока / ширина страницы)*/
        /*                                        это процент блока (0.91 -> 91%) */
}
