/* сброс стилей */
@import url(../vendor/normalize.css);

/* подключение шрифтов */
@import url(../vendor/fonts/fonts.css);

/* общие стили страницы */
@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__burger/header__burger.css);
@import url(../blocks/header/__burger-line/header__burger-line.css);

/* bike */
@import url(../blocks/bike/bike.css);
@import url(../blocks/bike/__title/bike__title.css);
@import url(../blocks/bike/__text/bike__text.css);
@import url(../blocks/bike/__about/bike__about.css);
@import url(../blocks/bike/__name/bike__name.css);
@import url(../blocks/bike/__name-of-bike/bike__name-of-bike.css);
@import url(../blocks/bike/__line/bike__line.css);
@import url(../blocks/bike/__fon/bike__fon.css);

/* merks */
@import url(../blocks/merks/merks.css);
@import url(../blocks/merks/__image/merks__image.css);
@import url(../blocks/merks/__quote/merks__quote.css);
@import url(../blocks/merks/__text/merks__text.css);
@import url(../blocks/merks/__athor/merks__athor.css);
@import url(../blocks/merks/__athor-work/merks__athor-work.css);

/* highway */
@import url(../blocks/highway/highway.css);
@import url(../blocks/highway/__title/highway__title.css);
@import url(../blocks/highway/__subtitle/highway__subtitle.css);
@import url(../blocks/highway/__galary/highway__galary.css);
@import url(../blocks/highway/__road-wrap/highway__road-wrap.css);
@import url(../blocks/highway/__road-wrap/_active/highway__road-wrap_active.css);
@import url(../blocks/highway/__road/highway__road.css);
@import url(../blocks/highway/__arrows/highway__arrows.css);
@import url(../blocks/highway/__arrow/highway__arrow.css);

/* bicycles */
@import url(../blocks/bicycles/bicycles.css);
@import url(../blocks/bicycles/__header/bicycles__header.css);
@import url(../blocks/bicycles/__title/bicycles__title.css);
@import url(../blocks/bicycles/__types/bicycles__types.css);
@import url(../blocks/bicycles/__types/_small/bicycles__types_small.css);
@import url(../blocks/bicycles/__link-wrap/bicycles__link-wrap.css);
@import url(../blocks/bicycles/__link-wrap/_small/bicycles__link-wrap_small.css);
@import url(../blocks/bicycles/__link/bicycles__link.css);
@import url(../blocks/bicycles/__link/_small/bicycles__link_small.css);
@import url(../blocks/bicycles/__link/_active/bicycles__link_active.css);
@import url(../blocks/bicycles/__cards/bicycles__cards.css);
@import url(../blocks/bicycles/__card/bicycles__card.css);
@import url(../blocks/bicycles/__image-wrap/bicycles__image-wrap.css);
@import url(../blocks/bicycles/__image/bicycles__image.css);
@import url(../blocks/bicycles/__card-text/bicycles__card-text.css);
@import url(../blocks/bicycles/__card-text/_small/bicycles__card-text_small.css);
@import url(../blocks/bicycles/__vector/bicycles__vector.css);
@import url(../blocks/bicycles/__slider-points/bicycles__slider-points.css);
@import url(../blocks/bicycles/__slider-point/bicycles__slider-point.css);
@import url(../blocks/bicycles/__slider-point/_active/bicycles__slider-point_active.css);


/* workout */
@import url(../blocks/workout/workout.css);
@import url(../blocks/workout/__title/workout__title.css);
@import url(../blocks/workout/__text/workout__text.css);
@import url(../blocks/workout/__links/workout__links.css);
@import url(../blocks/workout/__link/workout__link.css);
@import url(../blocks/workout/__photo/workout__photo.css);

/* footer */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__wrap/footer__wrap.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__field-input/footer__field-input.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

.bikes {
    background-color: rgb(21, 80, 3);
    height: 300px;
    margin: 0 auto;
    width: calc(100% * (1320/1440));
        /*   ширина страницы (сейчас 1440px) *  (ширина блока / ширина страницы)*/
        /*                                        это процент блока (0.91 -> 91%) */
}

.bike_bike-fix {
    position: sticky;
    top: calc(392px + 74px);
    right: 370px;
    left: auto;
    width: 440px;
    height: 300px;
    background: #F4F4F4;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
    border-radius: 20px;
}
