@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
    font-family: 'Inter', Arial, sans-serif;
}

.bike {
    background-color: rgb(21, 80, 3);
    height: 300px;
    width: calc(100% * (1320/1440));
        /*   ширина страницы (сейчас 1440px) *  (ширина блока / ширина страницы)*/
        /*                                        это процент блока (0.91 -> 91%) */
}