.highway__galary {
    grid-area: galary;
    display: grid;
    grid-template-columns: calc(100% * 650/1320) auto;
    gap: calc(100% * 40/1440);
    object-fit: cover;
}

.highway__galary::before {
    background-image: url(../../../images/highway_green_flag.svg) ;
}

@media screen and (max-width: 480px){

    .highway__galary {
        grid-template-columns: 100%;
    }
    
    
}