.bike__title {
    grid-area: title;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.09;
    letter-spacing: -0.5px;
    margin: 0;
    padding: 0;
    align-self: end;
    color: #151515;
}

@media screen and (max-width: 1080px) {
  .bike__title {
    font-size: 5vw;
  }
}

@media screen and (max-width: 640px) {
  .bike__title {
    max-width: 60%;
    font-size: 32px;
    line-height: 1.25;
  }
} 

@media screen and (max-width: 480px) {
  .bike__title {
    max-width: 284px;
    font-size: 32px;
    line-height: 1.25;
  }
} 
