.bicycles__card {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #151515;
}

@media screen and (max-width: 1080px){
  .bicycles__card:last-child {
    display: none;
  }
}

@media screen and (max-width: 480px){
  .bicycles__card {
    display: none;
  }

  .bicycles__card:first-child {
    display: block;
  }
}
