.highway__road-wrap_active {
  position: relative;
}

.highway__road-wrap_active::before {
  content: '';
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 100px;
  height: 40px;
  background-image: url(../../../../images/highway_green_flag.svg);
  z-index: 1;
}
